  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
    width: 80%;
    margin-left: 89px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
}
.myself{
display: block;
max-width: 30%;
height: auto;
border-radius: 50%;
}
 a {
     text-decoration: none ;
  }
a:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
   }